<div class="nk-block nk-block-lg">
   
    
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init nowrap table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Description</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events">
                        <td>{{ event.eventName }}</td>
                        <td>{{ event.eventDate | date: 'MMM d, y' }}</td> 
                        <td>{{ event.eventDescription }}</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
 <!-- <div class="modal fade show d-block" *ngIf="showModal" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Event</h5>
                <button type="button" class="close" (click)="closeModal()">&times;</button>
            </div>
            <form [formGroup]="eventForm" (ngSubmit)="saveEvent()" class="w-75">
            <div class="modal-body">
                
             
                <input  type="text"
                class="form-control"
                id="eventName"
                formControlName="eventName"
                placeholder="Enter Event Name">
                <div *ngIf="eventForm.controls['eventName'].invalid && eventForm.controls['eventName'].touched">
                    <small *ngIf="eventForm.controls['eventName'].errors?.['required']" class="text-danger">
                      Event Name is required.
                    </small>
                    
                  </div>
                  
                <input  type="text"
                class="form-control"
                id="eventDescription"
                formControlName="eventDescription"
                placeholder="Enter Event Name">
                <div *ngIf="eventForm.controls['eventDescription'].invalid && eventForm.controls['eventDescription'].touched">
                    <small *ngIf="eventForm.controls['eventDescription'].errors?.['required']" class="text-danger">
                      Event Description is required.
                    </small>
                    
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveEvent()">Save Event</button>
            </div>
        </form>
        </div>
    </div>
</div>  -->
