
<div>
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title">Events</h4>
            <div class="justify-end">
                <!-- <button type="button" class="btn btn-primary" (click)="openModal()">Add User</button> -->

            </div>
        </div>
    </div>
    <div  class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User</h5>
                    <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </div>
                <div class="modal-body">
                    <form [formGroup]="userForm" (ngSubmit)="saveUser()" class="w-100">
                    <div class="form-group mb-3">
                        <label class="form-label" for="name">User Name</label>
                        <div class="form-control-wrap">
                            <input
                            type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Enter User Name"
                          />
                          <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
                            <small *ngIf="userForm.controls['name'].errors?.['required']" class="text-danger">
                              User Name is required.
                            </small>
                            
                          </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="email">User Email</label>
                        <div class="form-control-wrap">
                            <input
                            type="text"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="Enter Email"
                          />
                          <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                            <small *ngIf="userForm.controls['email'].errors?.['required']" class="text-danger">
                              Email is required.
                            </small>
                            
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Role</label>
                        <div class="form-control-wrap">
                            <input  type="text"
                            class="form-control"
                            id="role"
                            formControlName="role"
                            placeholder="Enter User Role" >
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" >Save User</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            </div> </form>
                   </div>
               
                    
            
              
            </div>
        </div>
    </div>

    <!-- Delete modal -->
    <div  class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </div>
                <div class="modal-body">
                    <p>Are You sure you want to delete user</p>
                   </div>
                <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" (click)="confirmDelete()" >Confirm</button>

                    <button type="button" class="btn btn-danger" (click)="closeDeleteModal()">Close</button>
            
                </div>
            </div>
        </div>
    </div>
<app-data-table class="mt-2" (edit)="onEdit($event)" 
(delete)="onDelete($event)"  [columns]="userColumns" [data]="users"></app-data-table>
</div>