<div class="dashboard-container">
    <app-topbar></app-topbar> 
    <app-sidebar></app-sidebar> 
  <!-- <div class="nk-body bg-lighter npc-general has-sidebar ">
  <div class="nk-app-root">
    <div class="nk-main ">
      <app-topbar></app-topbar> 
      
      <div class="nk-wrap ">
        <app-sidebar></app-sidebar> 

        <div class="nk-content ">
          <ng-content></ng-content> 
        </div>
       <div class="nk-footer"></div>
      
      
      
      </div>
    </div></div>
  </div> -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
