<div class="container vh-100">
    <div class="row h-100">
      <!-- Left Column (Background Image) -->
      <div class="col-sm-6 background"></div>
  
      <!-- Right Column (Form) -->
      <div class="col-sm-6 d-flex align-items-center justify-content-center">
        <form (ngSubmit)="onSubmit()" class="w-75">
          <div class="form-group mb-3">
            <label class="form-label" for="default-04">User Name</label>
            <div class="form-control-wrap">
              <div class="form-icon form-icon-right">
                <em class="icon ni ni-mail"></em>
              </div>
              <input
                type="text"
                class="form-control"
                id="default-04"
                [(ngModel)]="username"
                name="username"
                placeholder="Enter Username"
              />
            </div>
          </div>
  
          <div class="form-group mb-3">
            <label class="form-label" for="default-04">Password</label>
            <div class="form-control-wrap">
              <div class="form-icon form-icon-right">
                <em class="icon ni ni-lock"></em>
              </div>
              <input
                type="password"
                class="form-control"
                id="default-04"
                [(ngModel)]="password"
                name="password"
                placeholder="Enter Password"
              />
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="default-04">Role</label>
            <div class="form-control-wrap">
              <div class="form-icon form-icon-right">
                <em class="icon ni ni-lock"></em>
              </div>
              <input
                type="text"
                class="form-control"
                id="default-05"
                [(ngModel)]="role"
               name="role"
                placeholder="Enter Role"
              />
            </div>
          </div>
  
          <!-- Error Message -->
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
  
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
  